div {
  width: 150px;
  height: 150px;
  margin: 6px;
  display: inline-block;
}
#red {
  background-color: red;
}
#blue {
  background-color: navy;
}
.gold {
  background-color: goldenrod;
}
.green {
  background-color: green;
}
.border {
  border-radius: 100px;
}
.opacity {
  opacity: 0.5;
}
