<% const { menubar } = require('./menubar.js') %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Космические корабли</title>
  </head>
  <body class="section">
    <div class="S_MenuBar"><%= menubar %></div>
    <div><a href="/">На главную</a></div>
    <h1>Космические корабли</h1>
    <ul>
      <li><a href="spaceships/buran.html">Буран</a></li>
    </ul>
  </body>
</html>
